# Core dependencies
numpy==1.24.4                  # bump to 1.24.x or higher
pandas==2.0.3
pytz==2023.3
pandas-gbq>=0.19.0
striprtf>=0.0.9


# Logging
logging==0.4.9.6

# Minimal Google BigQuery client and core dependencies
google-cloud-bigquery==3.10.0
google-cloud-core==2.3.2
google-api-core==2.11.0
google-auth==2.17.3           # update to 2.15+ (picked latest stable)

# Essential dependencies for BigQuery client
grpcio==1.51.3
grpcio-status==1.51.3
typing-extensions==4.7.1

# Metadata and packaging
packaging==24.2
#pyarrow>=13.0.0            # update to >=13.0.0 per db-dtypes requirement
zipp==3.15.0
importlib-metadata==6.8.0
