cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
db-dtypes==1.4.3
google-api-core==2.11.0
google-auth==2.17.3
google-auth-oauthlib==1.2.2
google-cloud-bigquery==3.10.0
google-cloud-core==2.3.2
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.51.3
grpcio-status==1.51.3
idna==3.10
importlib-metadata==6.8.0
logging==0.4.9.6
numpy==1.24.4
oauthlib==3.3.1
packaging==24.2
pandas==2.0.3
pandas-gbq==0.29.2
proto-plus==1.26.1
protobuf==4.25.8
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydata-google-auth==1.9.1
python-dateutil==2.9.0.post0
pytz==2023.3
requests==2.32.4
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
typing_extensions==4.7.1
tzdata==2025.2
urllib3==2.5.0
zipp==3.15.0
